.card {
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  border: 2px solid #800000;
}

.points {
  color: #800020;
  font-weight: 700;
}
