.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* make it span across the viewport */
  z-index: 1000; /* ensure it's above other elements */

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #800020;
  padding: 0.5rem 1rem;

  background: white;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  height: 80px;
  width: auto;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #800020;
}

.right {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0; /* adds breathing room for icons */
  padding-right: 30px;
}

.iconWrapper {
  position: relative;
}

.icon {
  color: #fff;
  background: #800020;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}

.notificationBadge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
  background: #ff5722;
  color: white;
  font-size: 0.7rem;
  border-radius: 50%;
  padding: 0.2rem 0.4rem;
}

.addButton {
  background: #800020;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.6rem;
  cursor: pointer;
}
